poly-dependent-types.aux
poly-dependent-types.bbl
poly-dependent-types.bcf
poly-dependent-types.blg
poly-dependent-types.fdb_latexmk
poly-dependent-types.fls
poly-dependent-types.log
poly-dependent-types.out
poly-dependent-types.run.xml
poly-dependent-types.synctex.gz
poly-universes.aux
poly-universes.bbl
poly-universes.bcf
poly-universes.fdb_latexmk
poly-universes.fls
poly-universes.log
poly-universes.run.xml
